html {
  font-size: 72.5%;
}
body {
  font-size: 1.9rem;
}
li {
  list-style: none;
  display: inline-block;
  padding-left: 22%;
  text-align: center;
}
a {
  text-decoration: none;
  color: rgb(36, 32, 32);
  font-family: Georgia;
  text-align: center;
}


a:hover {
  text-decoration: underline;
  text-decoration-color: red;

}

.nav {
  display: center;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  background: rgb(255, 255, 255);
}

.nav__menu {
  display: center;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  width: 20%;
  right: 1px;
  height: 100%;
  font-size: 3rem;
  color:rgb(255, 255, 255);
  z-index: 10;
  cursor: pointer;
  user-select: none;
  
}

.left-arrow {
  position: absolute;
  width: 20%;
  left: 1px;
  height: 100%;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 0.5s;
  transform: scale(1.08);
}
