html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 3.6;
  width: 100%;
  margin: 0;
  
}
body {
  font-weight: bolder 700;
  font-size: 0.839rem;
  text-rendering: optimizeLegibility;
  display: block;
  overflow-x: hidden;
  
  
}

a {
  font-stretch: 300%;
  font-weight: 300;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 0, 0, 0);
  transition: border-bottom 950ms;
  color: #3c3f40;
  font-family: Georgia;
  text-align: center;
  outline: 0;
  background: transparent;
  margin-right: 45%;
  padding-bottom: 4px;
  
}


a:hover {
  cursor: pointer;
  transition: ease-in-out .5s;
  border-bottom: 1px solid rgba(255, 0, 0, 1);
  
}
a:after {
  transition: ease-out .5s;
}

.nav {
  display: center;
  align-items: center;
  justify-content: space-around;
  height: 4vh;
  background: rgb(255, 255, 255);
}

.slider {
  position: relative;
  height: 65vh;
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

.image {
  width: 1000px;
  height: 600px;
  border-radius: 3px;
}

.right-arrow {
  position: absolute;
  width: 22%;
  right: 1px;
  height: 100%;
  font-size: 3rem;
  color:rgb(255, 255, 255);
  z-index: 10;
  cursor: pointer;
  user-select: none;

}
.right-arrow:hover {
  cursor: e-resize;
}
.left-arrow {
  position: absolute;
  width: 22%;
  left: 1px;
  height: 100%;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.left-arrow:hover {
  cursor: w-resize;
}
.slide {
  position: absolute;
  opacity: 0.65;
  transition: opacity ease-out 0.8s;
}

.slide.active {
  opacity: 1;
  
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.footer {
  clear: both;
  color: #8d8d8d;
  font-size: 12px;
  font-size: .8rem;
  font-stretch: ultra-condensed;
  margin-left: 2.15%;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 9rem;
  letter-spacing: 0.00rem;
}
.containter {
  position: relative;
  min-height: 100vh;
}
.content-wrap {
  padding-bottom: 2.5rem; 
}